<!--816030849-->
<!--Eysah Ali-->
{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block page %}Home{% endblock %}

{% block link%}
<ul id="nav-mobile" class="right">
    <li><a href="/logout">Logout</a></li>
</ul>
{% endblock %}

{% block styles%}

    td{
        padding: 2px;
    }

    .collection .collection-item.active{
        background-color: #E53935;
    }
{% endblock %}


{% block content %}
<div class="row">
    <div class="col m3 list-container collection" style="max-height: 88vh;">
        <ul class="collection " id="workout_id">
            {% for workout in workout_all %}
                <li class="collection-item">
                    <form class="row" method="POST">
                        <span class="card-title">
                            <a id="poke-{{ workout.id }}" class="collection-item {% if workout == selected_workout %}active white-text{% else %}black-text{% endif %}" href="/{{ workout.id }}#work-{{ workout.id }}">{{workout.name}}</a>
                        </span>
                    </form>
                </li>
            {% endfor %}
        </ul>

    </div>
    
    <div class="col m3">

            <p class="text-center">Selected Workout</p>

            <div id="pokemon-detail">
                {% if selected_workout %}
                    <img class="responsive-img" src="{{selected_workout.image1}}">
                    <br>
                    <span class="card-title">
                        <p><b>Name:</b> {{selected_workout.name}}</p>
                        <p><b>Force:</b> {{selected_workout.force}}</p>
                        <p><b>Level:</b> {{selected_workout.level}}</p>
                        <p><b>Equipment:</b> {{selected_workout.name}}</p>
                        <p><b>Primary Muscles:</b> {{selected_workout.primaryMuscles}}</p>
                        <p><b>Category:</b> {{selected_workout.category}}</p>
                        <p><b>Instructions:</b> {{selected_workout.instructions}}</p>

                {% endif %}
                {% if selected_workout %}
                    <form class="row" action="/workout/{{ selected_workout.id }}" method="POST">
                        <p><input type="number" name="reps" id="reps" placeholder="reps" style="max-width: 200px;" required></p>
                        <p><input type="number" name="sets" id="sets" placeholder="sets" style="max-width: 200px;" required></p>
                        <input type="submit" id="addWorkout" class="white-text btn" style="background-color:orangered" value="Add Workout">
                    </form>
                {% endif %}
                </span>
                
            </div>

    </div>

    <div class="col m6" >
        <p class="text-center">Your Routine</p>
        <table class="responsive-table" id="pokemon-table">
            <!-- Captured pokemon content here -->
            <thead>
                <tr>
                    <th>Workout</th>
                    <th>Sets</th>
                    <th>Reps</th>
                </tr>
            </thead>
            <tbody>
                <!-- show captured pokemon here with controls to rename and release for each pokemon -->
                {% for workout in current_user_routine %}
                    <tr class="collection-item">
                        <form class="row" method="POST">
                            <td>
                                {{workout.workout_name}}
                            </td>
                            <td>
                                {{workout.workout_reps}}
                            </td>
                            <td>
                                {{workout.workout_sets}}
                            </td>
                        </form>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>


{% endblock %}